body {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

.backgroundnavbar {
    background-color: #4064d4;
    height: 95px;
    width: 100%;
    position: relative;
    margin-top: -95px;
}

#custom-navbar {
    background-color: transparent !important;
    position: sticky;
    top: 0%;
    z-index: 10;
    padding: 0.7rem 0;
    transition: background-color 0.3s ease-in-out;
}

#custom-navbar.custom-scrolled {
    background-color: rgba(255, 255, 255) !important;
    transition: background-color 0.3s ease-in-out;
}

.custom-nav-container {
    width: 95%;
    margin-inline: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.all-container {
    width: 95%;
    margin-inline: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-climates a {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: white !important;
    text-align: center;
}

.custom-climates a.custom-scrolled {
    color: #153e35 !important;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.custom-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.custom-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left: 5rem;
}

.custom-logreg {
    padding: 0;
    margin: 0;
    list-style: none;
}

.custom-userInfo {
    padding: 0;
    margin: 0;
    list-style: none;
}

.custom-menu li {
    display: inline-block; /* Pastikan elemen tetap horizontal */
}

.custom-menu li {
    display: block;
    height: 100%;
    position: relative;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.custom-menu li:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    display: block;
    transition: all 0.3s ease;
    bottom: -15%;
}

.custom-menu li:hover::after {
    width: 100%;
    height: 3px;
    background-color: white !important;
}

.custom-menu.custom-scrolled li:hover::after {
    background-color: #153e35 !important;
}

.custom-menu li a {
    color: white !important;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.custom-menu.custom-scrolled li a {
    color: #153e35 !important;
}

.custom-logreg {
    display: flex;
    align-items: center;
    gap: 20px;
}

.custom-LoginBtn {
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid white;
    cursor: pointer;
    padding: 10px 0px;
    transition: transform 0.1s;
}

.custom-LoginBtn:hover {
    transform: scale(1.1);
}

.custom-LoginBtn a {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
}

.custom-LoginBtn.custom-scrolled {
    border: 1px solid #153e35;
}

.custom-LoginBtn.custom-scrolled a {
    color: #153e35;
}

.custom-RegisterBtn {
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 0px;
    transition: transform 0.1s;
}

.custom-RegisterBtn:hover {
    transform: scale(1.1);
}

.custom-RegisterBtn a {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
}

.custom-RegisterBtn.custom-scrolled a {
    color: #153e35;
}

.custom-userInfo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.custom-userInfo .custom-userProfiles {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 10px;
}

.custom-userInfo li {
    transition: transform 0.2s;
}

.custom-userInfo li:hover {
    transform: scale(1.1);
}

.custom-userInfo .custom-userProfiles.custom-scrolled {
    color: #153e35;
    border: 1px solid #153e35;
}

.custom-userInfo .custom-ButtonLogout {
    padding: 10px 15px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background-color: red;
    text-align: center;
    color: white;
    cursor: pointer;
}

footer {
    background-color: black;
    color: white;
    font-family: "Inter", sans-serif;
    height: fit-content;
}

footer .container {
    align-items: flex-start;
    padding: 40px 0;
}

footer h3 {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

footer p {
    margin: 0;
    width: fit-content;
}

.contactus {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.company {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.company a {
    color: white;
    font-size: 14px;
    width: fit-content;
}

.findus {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: center;
}

.findus .sosmedimg {
    display: flex;
    gap: 20px;
}

.barcode {
    display: flex;
    align-self: center;
}

.barcode img {
    width: 200px;
}

footer p {
    font-size: 14px;
}

footer img {
    filter: brightness(0) invert(1);
}
